table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	empty-cells: show;
}

div.tableContainer {
	clear: both;
	border: 1px solid black;
	max-height: 285px;
	overflow: auto;
	position: relative; 
	bottom: 0;
}

#bwDiv, #wDiv, #cDiv{
	width: 756px;
	margin: 0 auto;
}

h3{
	text-align: center;
}
