table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	empty-cells: show;
}

div.tableContainer {
	clear: both;
	border: 1px solid #963;
	max-height: 285px;
	overflow: auto;
	width: 756px;
	position: relative; 
	bottom: 0;
}